<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5253715142491438"
    crossorigin="anonymous"></script>
<!-- 縦長バナー -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5253715142491438" data-ad-slot="9866695232"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>